@model G7.Models.DoctorObj

@{
    ViewBag.Title = "Crear Doctor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Crear Doctor</h2>
    <hr />


    @using (Html.BeginForm("CrearDoctor", "Doctor", FormMethod.Post))
    {
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="idDoctor">ID Doctor:</label>
                    @Html.TextBoxFor(model => model.IdDoctor, new { @class = "form-control", placeholder = "Ingrese el ID del doctor", required = "required" })
                    <div class="invalid-feedback">
                        Por favor, ingrese el ID del doctor.
                    </div>
                </div>
                <div class="form-group">
                    <label for="idUsuario">ID Usuario:</label>
                    @Html.TextBoxFor(model => model.IdUsuario, new { @class = "form-control", placeholder = "Ingrese el ID del usuario", required = "required" })
                    <div class="invalid-feedback">
                        Por favor, ingrese el ID del usuario.
                    </div>
                </div>
                <div class="form-group">
                    <label for="SalarioBruto">Salario Bruto:</label>
                    @Html.TextBoxFor(model => model.SalarioBruto, new { @class = "form-control", placeholder = "Ingrese el salario bruto", required = "required" })
                    <div class="invalid-feedback">
                        Por favor, ingrese el salario bruto.
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="HoraEntrada">Hora de Entrada:</label>
                    <div class="input-group clockpicker">
                        @Html.TextBoxFor(model => model.HoraEntrada, new { @class = "form-control", placeholder = "Ingrese la hora de entrada", required = "required" })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                    <div class="invalid-feedback">
                        Por favor, ingrese la hora de entrada.
                    </div>
                </div>
                <div class="form-group">
                    <label for="HoraSalida">Hora de Salida:</label>
                    <div class="input-group clockpicker">
                        @Html.TextBoxFor(model => model.HoraSalida, new { @class = "form-control", placeholder = "Ingrese la hora de salida", required = "required" })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                    <div class="invalid-feedback">
                        Por favor, ingrese la hora de salida.
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Crear Doctor</button>
        </div>
    }

</div>

@section scripts {
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <





