@model IEnumerable<G7.Models.DoctorObj>

@{
    ViewBag.Title = "VerDoctor";
}

<h2>VerDoctor</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <tr>
        <th>
            Id Doctor
        </th>
        <th>
            Id Usuario
        </th>
        <th>
            Salario Bruto
        </th>
        <th>
            Hora de entrada
        </th>
        <th>
            Hora de salida
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdDoctor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalarioBruto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraSalida)
            </td>

        </tr>
    }

</table>
