@model IEnumerable<G7.Models.CitasObj>

@{
    ViewBag.Title = "VerCita";
}

<h1 class="h3 mb-2 text-gray-800">Citas</h1>
<p class="mb-4">
    Citas registradas en el sistema.
</p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <tr>
        <th>
            Número de Cita
        </th>
        <th>
            Id del Paciente
        </th>
        <th>
            Id del Doctor
        </th>
        <th>
            Padecimiento
        </th>
        <th>
            Hora de la Cita
        </th>
        <th>
            Atendido
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Condicion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Editar", new { id = item.IdCita }, new { @class = "btn btn-danger btn-sm rounded-0" }) |
                @Html.ActionLink("Details", "Eliminar", new { id = item.IdCita }, new { @class = "btn btn-danger btn-sm rounded-0" })
            </td>
        </tr>
    }

</table>
